*{
  background-color: aliceblue;
}
.size{
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin: 40px auto 1em auto;
  padding: 1em;
  text-align: left;
  width: 400px; 
  /* background-color: azure; */
}
h1,.bt{
  text-align: center;
padding: 2em;
}
.form {
  padding: 1em;
  /* background-color: azure; */
}
.colo{
  /* background-color: azure; */
}

label {
  font-weight: 600;
}
.login,h3{
  cursor: pointer;
  /* background-color: azure; */
}
/* .link{
  text-decoration: none;
  margin-left:1.8em ;
  color: black;
} */
